footer {
    color: whitesmoke;
    background-color: #00c2cb;
    padding-top: 3 em;
    position: relative;
    bottom: 0;
    width: 100%;
} 

.name {
    text-decoration: none;
    color: white;
}

.copyRight{
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
}


