footer {
    color: whitesmoke;
}  
/* 
.container{
     padding-left: 200px; 
} */

.name {
    text-decoration: none;
    color: white;
}
/*
.copyRight{
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
} */


