.link{
    color: black;
    text-decoration: none;
}

.review-btn{
    margin: 0 auto;
    display: block;
}

.search-btn{
    margin: 0 auto;
    display: block;
}

.search-bar{
    margin-bottom: 30px;
}
/* 
p {
    margin-top: 50px;
    color: whitesmoke;
    /* font-size: 58px;
 } */


.word-span{
    font-size: 75px;
}


.dataItem p {
    /* margin-left: 10px; */
    color: black;
    padding-left: 10px;
  }

 a {
    text-decoration: none !important;
  }
  
  a:hover {
   
  }
  
  #clearBtn {
    cursor: pointer;
  }
  

.comment-img{
    margin-top: 30px;
}

.searchInputs-box{
    margin: 0 auto;
    position: relative;
    width: 40%;
    /* padding: 13px; */
    padding-top: 90px;
    /* padding-bottom: 90px; */
}

.searchInputs-input{
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    /* margin-left: 15px; */

}


.searchIcon{
    position: absolute;
    top: 0%;
    width: 60px;
    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    margin-top: 95px;
    /* margin-left: 12px; */
}

.dataResult{
    margin:0 auto;
    width:40%;
    /* margin-top: 5px; */
    /* margin-left: 600px;
    margin-right: 600px; */
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    /* text-align: center; */
}


.dataResult::-webkit-scrollbar {
    display: none;
  }

.review-section{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
